li :hover{
	background: red;
	color: red;
}
li{
    
	font-size: 20px;
	background: black;
	margin: 0px;
}
.other-control{
 position: relative;
}
.other-control.success input{
  border-color:#2ecc71;
}
.other-control.error input:focus{
  outline: 0;
  box-shadow: 0px 0px  8px  0px #e74c3c;
}
.other-control.success input:focus{
  outline: 0;
  box-shadow: 0px 0px  8px  0px #2ecc71;
}
.other-control.error input{
  border-color:#e74c3c;
}

.other-control i{
 position: absolute;
 right: 25px;
 top:45px;
 visibility: hidden;
}
.other-control small{
	 visibility: hidden;
}
.other-control small{
	color:#e74c3c;
	position: absolute;
	bottom: -20px;
	left:3px;
	visibility: hidden;
	

}
.other-control.error small{
	 visibility: visible;
	
}

.other-control.success  i.fa-check-circle{
	color:#2ecc71;
    visibility: hidden;
}
.other-control.error i.fa-exclamation-circle{
	color:#e74c3c;
    visibility: visible;
}

